<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <form th:method="PUT" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Новое имя:</label>
        <input type="text" th:field="*{name}" id="name">
        <br/>
        <label for="age">Возраст:</label>
        <input type="text" th:field="*{age}" id="age">
        <input type="hidden" th:field="*{id}" id="id">
        <br/>
        <input type="submit" value="Обновить"/>
    </form>
    <br/>
    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>
    <br/>
    <form th:method="POST"  th:action="@{/logout}">
        <input type="submit" value="  Выйти  "/>
    </form>
</body>
</html>